<div class="container">
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-secondary btn-sm" (click)=login()>Log in</button>
            <button class="btn btn-secondary btn-sm" (click)=logout()>Log off</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-secondary btn-sm" (click)=sendRequest()>Send Request</button>            
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-dark" *ngIf="ids.length > 0">
                <tr>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                <tr *ngFor="let i of ids">
                    <td>{{i.type}}</td>
                    <td>{{i.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div>
